@import "../variables";
@import "../mixins";

.dashboard{

  &__header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: $dashboard-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60,64,67,.15);
    z-index: 1000;
  }

  &__new{
    margin-top: $dashboard-header-height;
    padding: 1.5rem;
    background: #eee;
    &-view{
      max-width: 1000px;
      margin: 0 auto;
    }
    &-create{
      width: 150px;
      height: 150px;
      background: #fff;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #ccc;
      font-size: 1.2rem;
      text-decoration: none;
      color: #666;
      transition: all .3s;

      &:hover{
        cursor: pointer;
        color: green;
        border-color: green;
      }
    }
  }

  &__table{
    padding: 1rem;
  }


  &__list-header{
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0 12px;
  }

  &__list{
    @include clear-list;
  }

  &__record{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border-radius: 30px;
    transition: all .3s;

    &:hover{
      background: rgb(11 179 78 / 0.2);
    }

    svg{
      width: 18px;
      height: 18px;
      path{
        fill: rgb(11 179 78 / 0.7);
      }
    }
    a{
      display: flex;
      flex: auto;
      padding: 0 0 0 15px;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      color: #666;
      &:hover{
        text-decoration: underline;

      }
    }
    strong{

    }
  }

}